<div class="container2">

  <div class="top">
    <div id="header">
      <h2 class="left">NYC's Richest Districts</h2>
      <h2 class="right">NYC's Poorest Districts</h2>
    </div>
    <div class="left">
      <ul class="rich">
        <li data-id=1 style="background-color: #268E00"> District1</li>
        <li data-id=2> District2</li>
        <li data-id=3> District3</li>
        <li data-id=4> District4</li>
        <li data-id=5> District5</li>
        <li data-id=6> District6</li>
        <li data-id=7> District7</li>
        <li data-id=8 style="background-color: #3BDA00"> District8</li>
        <li data-id=9> District9</li>
        <li data-id=10> District10</li>
        <li data-id=11> District11</li>
        <li data-id=12> District12</li>
        <li data-id=13> District13</li>
        <li data-id=14> District14</li>
        <li data-id=15 style="background-color: #FF7373"> District15</li>
        <li data-id=16> District16</li>
      </ul>
    </div> <!-- left -->
    <div class="right">
      <ul class="poor">
        <li data-id=17> District17</li>
        <li data-id=18> District18</li>
        <li data-id=19> District19</li>
        <li data-id=20 style="background-color: #FF0000"> District20</li>
        <li data-id=21> District21</li>
        <li data-id=22> District22</li>
        <li data-id=23> District23</li>
        <li data-id=24> District24</li>
        <li data-id=25> District25</li>
        <li data-id=26style="background-color: #A6000"> District26</li>
        <li data-id=27> District27</li>
        <li data-id=28> District28</li>
        <li data-id=29> District29</li>
        <li data-id=30> District30</li>
        <li data-id=31> District31</li>
        <li data-id=32> District32</li>
      </ul>
    </div> <!-- right -->
    <div class="center">

      <img src="assets/nyc-map.png" alt="" usemap="#map" />
      <map name="map">
          <area data-id=1 shape="poly" coords="349, 297, 345, 320, 353, 323, 352, 331, 345, 334, 354, 335, 363, 334, 368, 318, 370, 309" />
          <area data-id=2 shape="poly" coords="344, 236, 341, 244, 340, 250, 334, 255, 331, 262, 327, 270, 327, 277, 327, 285, 326, 290, 325, 299, 325, 303, 321, 303, 323, 306, 324, 311, 322, 318, 321, 324, 317, 325, 317, 329, 316, 335, 314, 341, 314, 345, 321, 350, 327, 346, 335, 340, 341, 335, 342, 333, 344, 333, 346, 333, 349, 331, 352, 327, 352, 324, 352, 322, 347, 320, 344, 319, 349, 295, 370, 309, 367, 295, 367, 291, 370, 283, 375, 275, 405, 230, 404, 223, 402, 220, 398, 216, 400, 212, 396, 210, 394, 212, 391, 211, 368, 251" />
          <area data-id=3 shape="poly" coords="379, 172, 401, 185, 400, 189, 403, 190, 369, 251, 343, 236" />
          <area data-id=4 shape="poly" coords="401, 193, 405, 195, 409, 187, 414, 191, 418, 188, 421, 191, 419, 202, 413, 205, 410, 214, 403, 222, 399, 217, 399, 212, 396, 211, 391, 211" />
          <area data-id=5 shape="poly" coords="414, 139, 408, 145, 410, 149, 408, 151, 405, 149, 399, 166, 385, 160, 379, 173, 401, 184, 402, 189, 401, 192, 406, 194, 408, 188, 414, 191, 416, 187, 422, 192, 417, 179" />
          <area data-id=6 shape="poly" coords="428, 72, 422, 74, 420, 80, 419, 85, 415, 93, 411, 102, 407, 109, 400, 114, 400, 121, 400, 128, 398, 137, 394, 146, 389, 152, 386, 156, 388, 161, 399, 166, 404, 153, 405, 150, 409, 151, 410, 145, 407, 143, 416, 138, 422, 125, 425, 118, 442, 92, 445, 84, 446, 79, 440, 75, 433, 73" />
          <area data-id=7 shape="poly" coords="417, 146, 416, 156, 417, 161, 417, 173, 417, 178, 422, 188, 427, 189, 431, 190, 434, 194, 438, 198, 443, 198, 454, 185, 452, 177, 451, 175, 451, 169, 448, 166, 455, 161, 445, 158, 442, 154, 438, 156, 433, 152, 429, 149, 423, 149"/>
          <area data-id=8 shape="poly" coords="453, 184, 453, 178, 453, 176, 451, 176, 452, 170, 450, 166, 464, 157, 465, 160, 467, 159, 467, 154, 475, 148, 482, 148, 483, 152, 490, 151, 492, 153, 495, 153, 498, 153, 498, 149, 502, 149, 499, 143, 504, 142, 513, 140, 521, 139, 528, 137, 530, 140, 525, 145, 529, 157, 525, 164, 521, 176, 514, 171, 510, 171, 515, 175, 516, 181, 518, 185, 511, 186, 507, 183, 507, 178, 499, 176, 492, 171, 482, 167, 475, 157, 477, 166, 486, 171, 490, 177, 493, 181, 490, 189, 486, 192, 481, 188, 476, 190, 472, 185, 466, 183, 460, 183, 544, 105, 537, 105, 533, 110, 530, 139, 526, 146, 529, 155, 530, 161, 530, 170, 531, 180, 537, 186, 538, 177, 545, 174, 562, 171, 571, 177, 587, 186, 578, 168, 569, 162, 568, 154, 560, 156, 561, 147, 555, 138, 559, 129, 553, 122, 559, 122, 556, 115, 544, 121" />
          <area data-id=9 shape="poly" coords="417, 145, 416, 139, 420, 134, 423, 127, 423, 122, 427, 116, 431, 108, 437, 111, 439, 117, 442, 117, 447, 110, 451, 111, 457, 109, 459, 113, 455, 117, 460, 118, 462, 121, 465, 118, 463, 126, 462, 129, 459, 135, 461, 141, 458, 142, 458, 146, 455, 149, 455, 151, 449, 148, 447, 151, 447, 154, 444, 154, 439, 156, 425, 151" />
          <area data-id=10 shape="poly" coords="444, 13, 443, 17, 443, 20, 441, 31, 439, 36, 436, 47, 433, 59, 429, 67, 433, 73, 437, 74, 443, 69, 449, 72, 447, 78, 446, 86, 442, 94, 436, 102, 432, 109, 438, 113, 440, 119, 444, 115, 448, 108, 453, 112, 455, 109, 459, 112, 456, 116, 461, 119, 464, 122, 467, 118, 470, 111, 483, 122, 483, 127, 488, 129, 491, 122, 491, 112, 489, 105, 490, 91, 490, 83, 492, 69, 497, 58, 503, 44, 492, 41, 483, 41, 495, 33" />
          <area data-id=11 shape="poly" coords="495, 33, 489, 36, 482, 42, 486, 43, 492, 41, 501, 43, 497, 55, 491, 75, 490, 94, 490, 110, 491, 122, 489, 132, 501, 128, 504, 132, 503, 137, 504, 140, 529, 137, 531, 129, 532, 120, 532, 110, 537, 105, 545, 105, 543, 115, 545, 122, 551, 117, 556, 116, 554, 110, 558, 107, 559, 100, 551, 101, 552, 95, 552, 89, 547, 83, 546, 76, 550, 68, 550, 60, 546, 56, 550, 52, 528, 46, 525, 29, 516, 26, 509, 26, 505, 35 555, 54, 562, 56, 580, 61, 580, 68, 576, 76, 574, 81, 572, 78, 571, 82, 566, 78, 567, 84, 570, 88, 573, 88, 573, 93, 577, 84, 580, 78, 583, 77, 585, 71, 587, 68, 593, 68, 593, 74, 591, 77, 593, 80, 587, 85, 585, 94, 581, 101, 577, 107, 577, 117, 572, 110, 572, 101, 572, 97, 566, 97, 560, 92, 560, 82, 554, 83, 554, 76, 552, 71, 553, 58, 552, 58" />
          <area data-id=12 shape="poly" coords="452, 156, 455, 148, 457, 145, 461, 140, 460, 135, 463, 127, 462, 125, 466, 120, 470, 113, 475, 116, 484, 124, 482, 128, 487, 128, 490, 132, 499, 128, 505, 132, 504, 136, 504, 142, 499, 141, 501, 146, 501, 149, 498, 150, 498, 155, 493, 154, 489, 151, 482, 153, 482, 148, 474, 149, 466, 155, 466, 160, 461, 157, 457, 161" />
          <area data-id=13 shape="poly" coords="334, 361, 342, 366, 345, 360, 361, 369, 366, 373, 366, 378, 358, 378, 354, 385, 361, 390, 365, 391, 370, 395, 376, 395, 381, 395, 381, 389, 384, 381, 396, 387, 409, 386, 412, 382, 416, 379, 411, 377, 411, 371, 404, 371, 401, 362, 396, 359, 392, 354, 388, 355, 390, 360, 385, 362, 385, 367, 380, 360, 375, 360, 375, 354, 370, 350, 365, 350, 359, 342, 352, 343, 345, 345, 339, 352" />
          <area data-id=14 shape="poly" coords="389, 291, 384, 296, 383, 302, 383, 309, 386, 313, 381, 317, 378, 322, 375, 328, 374, 333, 373, 338, 375, 344, 373, 347, 373, 352, 375, 358, 378, 361, 383, 361, 383, 364, 386, 363, 390, 359, 394, 358, 397, 360, 401, 361, 406, 358, 410, 358, 414, 358, 415, 352, 412, 348, 417, 347, 417, 342, 417, 339, 421, 339, 427, 338, 431, 336, 429, 329, 430, 325, 426, 319, 424, 308, 418, 305, 412, 305, 405, 295, 399, 292, 393, 289" />
          <area data-id=15 shape="poly" coords="335, 364, 342, 365, 345, 362, 352, 364, 362, 370, 368, 373, 360, 380, 353, 384, 357, 388, 362, 388, 367, 390, 371, 394, 361, 413, 367, 416, 367, 422, 369, 429, 371, 435, 371, 441, 361, 441, 361, 448, 356, 446, 350, 447, 345, 453, 342, 447, 334, 441, 328, 449, 320, 442, 316, 434, 307, 429, 312, 425, 319, 420, 325, 414, 333, 411, 336, 409, 335, 404, 339, 397, 331, 400, 325, 397, 319, 394, 314, 386, 318, 380, 321, 380, 327, 374, 331, 369" />
          <area data-id=17 shape="poly" coords="400, 360, 405, 360, 410, 356, 415, 358, 420, 358, 435, 372, 434, 376, 436, 382, 437, 390, 436, 393, 429, 393, 424, 393, 418, 395, 412, 395, 409, 388, 411, 381, 415, 381, 410, 375, 409, 369, 403, 371" />
          <area data-id=18 shape="poly" coords="398, 420, 402, 420, 405, 416, 411, 416, 415, 413, 421, 412, 426, 408, 427, 410, 430, 409, 434, 414, 439, 420, 442, 424, 451, 422, 458, 426, 456, 419, 462, 429, 466, 430, 483, 451, 475, 458, 474, 461, 469, 463, 462, 472, 434, 457, 433, 448, 428, 452, 417, 453, 419, 445, 413, 446, 407, 437, 403, 431, 403, 426" />
          <area data-id=19 shape="poly" coords="454, 364, 460, 378, 464, 374, 467, 376, 475, 372, 483, 363, 494, 359, 497, 379, 500, 379, 503, 388, 505, 395, 508, 395, 509, 407, 507, 409, 507, 414, 501, 417, 508, 426, 506, 434, 506, 438, 495, 444, 481, 420, 491, 446, 487, 450, 476, 436, 471, 436, 466, 428, 461, 430, 454, 423, 460, 418, 450, 391, 454, 380, 449, 373" />
          <area data-id=20 shape="poly" coords="309, 430, 319, 439, 321, 443, 328, 449, 335, 442, 344, 448, 344, 454, 354, 445, 359, 447, 362, 450, 362, 441, 371, 441, 372, 448, 369, 452, 369, 457, 365, 458, 368, 464, 364, 469, 358, 465, 354, 469, 359, 474, 356, 480, 359, 485, 361, 490, 358, 494, 357, 497, 352, 496, 350, 500, 343, 495, 339, 500, 344, 505, 336, 517, 326, 508, 319, 503, 313, 503, 304, 502, 296, 497, 293, 490, 287, 482, 287, 470, 288, 459, 291, 453, 295, 445, 299, 440, 303, 438" />
          <area data-id=21 shape="poly" coords="366, 465, 382, 463, 385, 472, 389, 472, 390, 478, 390, 482, 387, 488, 389, 493, 384, 498, 386, 505, 390, 508, 391, 517, 388, 522, 390, 532, 395, 537, 403, 538, 419, 539, 419, 545, 398, 546, 382, 550, 358, 552, 340, 554, 331, 554, 325, 548, 328, 539, 336, 539, 347, 541, 351, 541, 356, 536, 347, 539, 347, 532, 339, 536, 344, 526, 341, 523, 336, 519, 346, 506, 339, 501, 342, 495, 348, 501, 355, 491, 357, 498, 359, 492, 360, 485, 355, 479, 360, 473, 352, 469, 357, 465" />
          <area data-id=22 shape="poly" coords="372, 436, 374, 446, 373, 450, 369, 451, 369, 456, 365, 461, 366, 466, 380, 463, 384, 468, 384, 473, 388, 473, 390, 477, 390, 480, 388, 487, 388, 489, 386, 494, 385, 498, 385, 506, 389, 506, 390, 514, 388, 521, 389, 528, 393, 534, 438, 535, 431, 531, 438, 525, 417, 506, 421, 500, 423, 506, 428, 511, 435, 517, 442, 522, 443, 529, 453, 527, 459, 528, 462, 536, 462, 541, 473, 541, 484, 534, 482, 523, 479, 513, 476, 500, 467, 503, 459, 504, 447, 506, 438, 503, 432, 496, 436, 485, 440, 485, 438, 490, 438, 498, 438, 505, 447, 508, 445, 500, 449, 498, 454, 499, 452, 493, 447, 487, 447, 480, 455, 499, 460, 500, 467, 495, 464, 490, 463, 486, 460, 483, 460, 476, 460, 474, 452, 468, 437, 461, 434, 449, 428, 454, 419, 454, 419, 447, 412, 444, 408, 438, 400, 440, 387, 441, 387, 432, 381, 430, 380, 435" />
          <area data-id=23 shape="poly" coords="436, 373, 437, 382, 437, 391, 430, 392, 432, 396, 433, 401, 431, 406, 431, 410, 441, 424, 451, 423, 458, 417, 451, 393, 453, 387, 453, 379, 448, 381" />
          <area data-id=24 shape="poly" coords="410, 297, 410, 290, 410, 280, 447, 285, 446, 295, 452, 293, 456, 281, 452, 276, 460, 278, 477, 275, 478, 268, 481, 271, 485, 273, 493, 271, 493, 265, 498, 265, 500, 260, 495, 258, 502, 254, 511, 258, 515, 271, 520, 280, 522, 288, 508, 295, 503, 293, 497, 296, 495, 300, 490, 300, 490, 305, 493, 313, 501, 325, 506, 328, 507, 342, 520, 337, 525, 337, 531, 337, 531, 343, 529, 348, 520, 355, 505, 358, 496, 359, 487, 361, 480, 364, 467, 376, 462, 373, 460, 378, 453, 366, 451, 359, 444, 351, 443, 344, 431, 337, 428, 327, 433, 326, 428, 316, 434, 314, 424, 310, 421, 306, 412, 306" />
          <area data-id=25 shape="poly" coords="510, 258, 521, 283, 522, 292, 531, 309, 542, 325, 551, 325, 564, 320, 568, 321, 572, 321, 572, 316, 576, 315, 576, 303, 574, 295, 572, 289, 579, 289, 581, 282, 585, 276, 593, 269, 595, 263, 585, 260, 585, 254, 594, 254, 586, 241, 587, 232, 589, 227, 595, 225, 597, 230, 605, 228, 611, 222, 605, 214, 611, 212, 602, 200, 599, 206, 591, 210, 585, 214, 582, 203, 568, 200, 551, 198, 542, 199, 541, 208, 540, 211, 534, 211, 530, 203, 530, 200, 523, 202, 518, 202, 511, 204, 513, 208, 512, 214, 507, 216, 510, 219, 517, 220, 518, 226, 520, 233, 519, 238, 519, 244, 523, 247, 530, 246, 527, 250, 519, 256" />
          <area data-id=26 shape="poly" coords="611, 222, 605, 226, 596, 231, 593, 225, 586, 227, 588, 232, 584, 238, 588, 246, 594, 252, 584, 254, 584, 258, 589, 259, 591, 264, 595, 264, 588, 271, 586, 276, 583, 277, 579, 287, 580, 291, 572, 290, 571, 294, 572, 296, 572, 302, 576, 305, 576, 311, 577, 314, 588, 309, 593, 313, 594, 317, 594, 322, 599, 321, 605, 321, 609, 317, 612, 319, 614, 314, 614, 310, 625, 310, 633, 310, 635, 306, 639, 298, 645, 304, 652, 304, 656, 301, 663, 302, 668, 302, 668, 309, 682, 306, 686, 305, 695, 289, 695, 270, 635, 222, 630, 231, 630, 237, 631, 243, 631, 248, 619, 237, 613, 227" />
          <area data-id=27 shape="poly" coords="494, 359, 508, 356, 516, 356, 525, 351, 533, 344, 529, 340, 533, 338, 541, 342, 543, 347, 544, 354, 545, 358, 541, 361, 546, 371, 550, 370, 556, 382, 565, 381, 564, 375, 570, 375, 570, 377, 578, 375, 580, 377, 585, 377, 587, 371, 594, 376, 594, 380, 599, 383, 603, 388, 609, 396, 600, 403, 594, 406, 598, 410, 611, 417, 624, 425, 635, 436, 640, 448, 636, 455, 622, 461, 615, 465, 613, 474, 603, 465, 593, 457, 579, 448, 560, 438, 551, 430, 537, 430, 534, 437, 516, 439, 515, 432, 518, 428, 511, 426, 504, 419, 507, 412, 510, 407, 509, 396, 504, 397, 503, 383, 497, 379" />
          <area data-id=28 shape="poly" coords="521, 289, 513, 294, 507, 294, 502, 292, 498, 296, 494, 300, 491, 303, 491, 310, 498, 319, 506, 328, 506, 342, 523, 339, 530, 338, 542, 345, 545, 352, 545, 357, 545, 360, 544, 365, 547, 369, 551, 370, 555, 380, 559, 384, 563, 380, 563, 377, 570, 374, 570, 377, 578, 375, 586, 376, 588, 370, 595, 376, 595, 383, 599, 381, 608, 395, 613, 403, 619, 403, 621, 395, 619, 391, 611, 384, 622, 382, 623, 377, 621, 373, 613, 376, 603, 367, 594, 354, 585, 346, 582, 334, 579, 324, 572, 327, 572, 321, 564, 320, 547, 325, 536, 321, 531, 310, 524, 299" />
          <area data-id=29 shape="poly" coords="667, 311, 658, 316, 662, 337, 664, 361, 666, 384, 662, 394, 662, 401, 666, 423, 661, 430, 650, 430, 647, 434, 646, 443, 637, 434, 617, 420, 596, 408, 596, 402, 598, 402, 601, 399, 607, 398, 611, 402, 618, 403, 620, 398, 620, 391, 613, 384, 624, 381, 621, 374, 613, 376, 595, 356, 585, 345, 579, 322, 573, 325, 573, 318, 580, 311, 589, 309, 594, 312, 594, 318, 594, 324, 600, 322, 604, 322, 611, 317, 614, 319, 616, 312, 618, 308, 624, 308, 630, 309, 636, 308, 636, 302, 639, 300, 645, 302, 651, 305, 656, 303, 663, 303, 668, 304" />
          <area data-id=29 shape="poly" coords="384, 288, 391, 288, 400, 289, 405, 289, 410, 283, 415, 280, 447, 286, 446, 294, 450, 290, 454, 281, 459, 278, 477, 276, 478, 269, 482, 271, 493, 269, 495, 265, 499, 262, 496, 258, 502, 255, 508, 257, 500, 246, 505, 244, 509, 237, 483, 222, 475, 226, 476, 235, 468, 236, 463, 224, 454, 225, 460, 217, 454, 212, 444, 208, 421, 232, 414, 229, 412, 234, 415, 240, 410, 246, 404, 253, 396, 264, 389, 276" />
          <area data-id="31" shape="poly" coords="248, 440, 249, 469, 251, 474, 272, 503, 272, 508, 210, 582, 204, 582, 200, 591, 190, 593, 174, 619, 167, 612, 174, 611, 184, 595, 177, 591, 167, 597, 165, 604, 165, 606, 123, 635, 117, 634, 108, 640, 103, 647, 97, 647, 91, 646, 82, 649, 74, 658, 64, 662, 55, 665, 43, 669, 34, 667, 30, 657, 31, 648, 38, 642, 49, 634, 44, 629, 45, 620, 49, 614, 42, 604, 39, 596, 43, 592, 50, 592, 54, 586, 58, 583, 64, 575, 70, 577, 76, 577, 82, 573, 85, 562, 87, 553, 89, 545, 90, 538, 93, 523, 102, 511, 98, 494, 98, 480, 96, 457, 114, 437, 121, 438, 124, 441, 125, 437, 131, 443, 138, 445, 147, 449, 161, 449, 170, 445, 183, 445, 188, 446, 200, 440, 206, 436, 216, 436, 225, 437, 232, 431, 241, 432" />
          <area data-id="32" shape="poly" coords="427, 323, 421, 327, 418, 331, 418, 336, 417, 341, 417, 344, 411, 348, 413, 350, 413, 355, 442, 378, 447, 375, 447, 381, 452, 378, 450, 370, 455, 363, 449, 360, 452, 357, 439, 348, 443, 344, 430, 336, 430, 331, 428, 327, 433, 326" />
      </map>
  </div> <!-- center -->
  </div> <!-- top -->


  <div class="bottom">
    <div class="svg chart">
        <svg id="chart-scores" width="1100" height="320">
          <g class="block">

            <line class="LinesRepereLabelY" x1="191.63636363636363" y1="320" x2="191.63636363636363" y2="85" stroke="#000000" stroke-dasharray="4,5" stroke-width="1"></line>

            <line class="LinesRepereLabelY" x1="304.3636363636364" y1="320" x2="304.3636363636364" y2="85" stroke="#000000" stroke-dasharray="4,5" stroke-width="1"></line>

            <line class="LinesRepereLabelY" x1="417.09090909090907" y1="320" x2="417.09090909090907" y2="85" stroke="#000000" stroke-dasharray="4,5" stroke-width="1"></line>

            <line class="LinesRepereLabelY" x1="529.8181818181818" y1="320" x2="529.8181818181818" y2="85" stroke="#000000" stroke-dasharray="4,5" stroke-width="1"></line>

            <line class="LinesRepereLabelY" x1="642.5454545454545" y1="320" x2="642.5454545454545" y2="85" stroke="#000000" stroke-dasharray="4,5" stroke-width="1"></line>

            <line class="LinesRepereLabelY" x1="755.2727272727271" y1="320" x2="755.2727272727271" y2="85" stroke="#000000" stroke-dasharray="4,5" stroke-width="1"></line>

            <line class="LinesRepereLabelY" x1="868" y1="320" x2="868" y2="85" stroke="#000000" stroke-dasharray="4,5" stroke-width="1"></line>

            <line class="LinesRepereLabelY" x1="980.7272727272727" y1="320" x2="980.7272727272727" y2="85" stroke="#000000" stroke-dasharray="4,5" stroke-width="1"></line>

      <!--       <text class="repereLabelYText" x="78.9090909090909" y="83" fill="#000000" text-anchor="middle" style="font-size: 12px;">1910</text> -->

            <text class="repereLabelYText" x="191.63636363636363" y="83" fill="#000000" text-anchor="middle" style="font-size: 12px;">2006</text>

            <text class="repereLabelYText" x="304.3636363636364" y="83" fill="#000000" text-anchor="middle" style="font-size: 12px;">2007</text>

            <text class="repereLabelYText" x="417.09090909090907" y="83" fill="#000000" text-anchor="middle" style="font-size: 12px;">2008</text>

            <text class="repereLabelYText" x="529.8181818181818" y="83" fill="#000000" text-anchor="middle" style="font-size: 12px;">2009</text>

            <text class="repereLabelYText" x="642.5454545454545" y="83" fill="#000000" text-anchor="middle" style="font-size: 12px;">2010</text>

            <text class="repereLabelYText" x="755.2727272727271" y="83" fill="#000000" text-anchor="middle" style="font-size: 12px;">2011</text>

            <circle cx="868" cy="83" r="30" fill="#778899"></circle>

            <text class="repereLabelYText" x="868" y="83" fill="#000000" text-anchor="middle" style="font-size: 12px;">2012</text>

            <circle cx="980.7272727272727" cy="83" r="30" fill="#6495ED"></circle>

            <text class="repereLabelYText" x="980.7272727272727" y="83" fill="#000000" text-anchor="middle" style="font-size: 12px;">2013</text>

          </g>
        </svg>

    </div> <!-- svg chart -->
    <div class="line chart">
      <div id="container" style="min-width: 210px; height: 400px; margin: 0 auto"></div>
    </div> <!-- line chart -->
    <div class="border-top"></div>
    <div class="border-left">
      <svg id="y-axis-label" width="50" height="290">
      <!--  <g transform="rotate(-90 125, 90)"> -->
      <text x="10" y="70" font-size="55">%</text>
      <g transform="rotate(90 -40, 61)">
        <text>of Students Proficient in </text>
    </div>
    <div class="border-bottom">
        <span>English Language Arts</span>
    </div>
    <div class="border-right"></div>
  </div> <!-- bottom -->
</div> <!-- container2 -->

