<div class="container2">

  <div class="top">
    <div id="header">
      <h2 class="left">NYC's Richest Districts</h2>
      <h2 class="right">NYC's Poorest Districts</h2>
    </div>
    <div class="left">
      <table class="rich">
        <tr style="background-color: #268E00">
          <td>District</td>
        </tr>
        <tr>
          <td>District</td>
        </tr>
        <tr>
          <td>District</td>
        </tr>
        <tr>
          <td>District</td>
        </tr>
                <tr>
          <td>District</td>
        </tr>
        <tr style="background-color: #3BDA00">
          <td>District</td>
        </tr>
        <tr>
          <td>District</td>
        </tr>
        <tr>
          <td>District</td>
        </tr>
        <tr>
          <td>District</td>
        </tr>
        <tr>
          <td>District</td>
        </tr>
        <tr>
          <td>District</td>
        </tr>
        <tr>
          <td>District</td>
        </tr>
        <tr>
          <td>District</td>
        </tr>
        <tr style="background-color: #8EEC6A">
          <td>District</td>
        </tr>
        <tr>
          <td>District</td>
        </tr>
        <tr>
          <td>District</td>
        </tr>
      </table>
    </div> <!-- left -->

    <div class="right">
      <table class="poor">
        <tr style="background-color: #FF7373">
          <td>District</td>
        </tr>
        <tr>
          <td>District</td>
        </tr>
        <tr>
          <td>District</td>
        </tr>
        <tr>
          <td>District</td>
        </tr>
        <tr>
          <td>District</td>
        </tr>
        <tr>
          <td>District</td>
        </tr>
        <tr style="background-color: #FF0000">
          <td>District</td>
        </tr>
        <tr>
          <td>District</td>
        </tr>
        <tr>
          <td>District</td>
        </tr>
        <tr>
          <td>District</td>
        </tr>
        <tr>
          <td>District</td>
        </tr>
        <tr style="background-color: #A60000">
          <td>District</td>
        </tr>
        <tr>
          <td>District</td>
        </tr>
        <tr>
          <td>District</td>
        </tr>
        <tr>
          <td>District</td>
        </tr>
        <tr>
          <td>District</td>
        </tr>
      </table>
    </div> <!-- right -->
  </div> <!-- top -->

  <div class="center">
  </div> <!-- center -->

  <div class="bottom">
    <svg id="chart-scores" width="1100" height="320">
      <g class="block">

        <line class="LinesRepereLabelY" x1="191.63636363636363" y1="320" x2="191.63636363636363" y2="85" stroke="#000000" stroke-dasharray="4,5" stroke-width="1"></line>

        <line class="LinesRepereLabelY" x1="304.3636363636364" y1="320" x2="304.3636363636364" y2="85" stroke="#000000" stroke-dasharray="4,5" stroke-width="1"></line>

        <line class="LinesRepereLabelY" x1="417.09090909090907" y1="320" x2="417.09090909090907" y2="85" stroke="#000000" stroke-dasharray="4,5" stroke-width="1"></line>

        <line class="LinesRepereLabelY" x1="529.8181818181818" y1="320" x2="529.8181818181818" y2="85" stroke="#000000" stroke-dasharray="4,5" stroke-width="1"></line>

        <line class="LinesRepereLabelY" x1="642.5454545454545" y1="320" x2="642.5454545454545" y2="85" stroke="#000000" stroke-dasharray="4,5" stroke-width="1"></line>

        <line class="LinesRepereLabelY" x1="755.2727272727271" y1="320" x2="755.2727272727271" y2="85" stroke="#000000" stroke-dasharray="4,5" stroke-width="1"></line>

        <line class="LinesRepereLabelY" x1="868" y1="320" x2="868" y2="85" stroke="#000000" stroke-dasharray="4,5" stroke-width="1"></line>

        <line class="LinesRepereLabelY" x1="980.7272727272727" y1="320" x2="980.7272727272727" y2="85" stroke="#000000" stroke-dasharray="4,5" stroke-width="1"></line>

  <!--       <text class="repereLabelYText" x="78.9090909090909" y="83" fill="#000000" text-anchor="middle" style="font-size: 12px;">1910</text> -->

        <text class="repereLabelYText" x="191.63636363636363" y="83" fill="#000000" text-anchor="middle" style="font-size: 12px;">2006</text>

        <text class="repereLabelYText" x="304.3636363636364" y="83" fill="#000000" text-anchor="middle" style="font-size: 12px;">2007</text>

        <text class="repereLabelYText" x="417.09090909090907" y="83" fill="#000000" text-anchor="middle" style="font-size: 12px;">2008</text>

        <text class="repereLabelYText" x="529.8181818181818" y="83" fill="#000000" text-anchor="middle" style="font-size: 12px;">2009</text>

        <text class="repereLabelYText" x="642.5454545454545" y="83" fill="#000000" text-anchor="middle" style="font-size: 12px;">2010</text>

        <text class="repereLabelYText" x="755.2727272727271" y="83" fill="#000000" text-anchor="middle" style="font-size: 12px;">2011</text>

        <circle cx="868" cy="83" r="30" fill="#778899"></circle>

        <text class="repereLabelYText" x="868" y="83" fill="#000000" text-anchor="middle" style="font-size: 12px;">2012</text>

        <circle cx="980.7272727272727" cy="83" r="30" fill="#6495ED"></circle>

        <text class="repereLabelYText" x="980.7272727272727" y="83" fill="#000000" text-anchor="middle" style="font-size: 12px;">2013</text>

      </g>
    </svg>
    <div class="border-top"></div>

      <div class="border-left">
        <svg id="y-axis-label" width="50" height="290">
        <!--  <g transform="rotate(-90 125, 90)"> -->
        <text x="10" y="70" font-size="55">%</text>
        <g transform="rotate(90 -35, 55)">
          <text>of Students Proficient in </text>
      </div>

      <div class="border-bottom">
          <span>English Language Arts</span>
      </div>
    <div class="border-right"></div>
  </div> <!-- bottom -->
</div> <!-- container2 -->