<div class="container">
  <div class="">
  </div> <!-- container -->

</div>




<!-- <img name="districtmapbig" src= width="1200px" height="600" border="0" id="districtmapbig" class="" usemap="#m_districtmapbig" alt="district map">
  <map name="m_districtmapbig" id="m_districtmapbig"> -->































<div class="map" style="display:none;">
  <img name="districtmapbig" src="assets/nyc-map.jpg" width="1200px" height="600" border="0" id="districtmapbig" class="" usemap="#m_districtmapbig" alt="district map">
  <map name="m_districtmapbig" id="m_districtmapbig">
  <!-- District 1-->
  <area shape="poly" coords="93,156,85,149,80,159,82,165,83,169,86,169,91,163" href="/districts/manhattan/district-1?filter_borough=1&amp;filter_district_neighborhood=district_1" id="District1" onmouseover="setAreaOver(this,'districtmapbig_canvas','0,0,255','0,153,255',0.5,true,false,0);this.style.cursor='pointer';return true;" onmouseout="setAreaOut(this,'districtmapbig_canvas',false,0);null">
  <!-- District 2-->
  <area shape="poly" coords="117,110,101,125,89,117,78,128,75,138,69,151,60,165,62,168,65,171,71,168,77,167,82,165,79,159,84,147,93,154,100,138,122,120" href="/districts/manhattan/district-2?filter_borough=1&amp;filter_district_neighborhood=district_2" id="District2" onmouseover="setAreaOver(this,'districtmapbig_canvas','0,0,255','0,153,255',0.5,true,false,0);this.style.cursor='pointer';return true;" onmouseout="setAreaOut(this,'districtmapbig_canvas',false,0);null">
  <!-- District 3-->
  <area shape="poly" coords="124,97,102,123,91,115,104,99,114,88,119,91,123,95" href="/districts/manhattan/district-3?filter_borough=1&amp;filter_district_neighborhood=district_3" id="District3" onmouseover="setAreaOver(this,'districtmapbig_canvas','0,0,255','0,153,255',0.5,true,false,0);this.style.cursor='pointer';return true;" onmouseout="setAreaOut(this,'districtmapbig_canvas',false,0);null">
  <!-- District 4 -->
  <area shape="poly" coords="129,99,125,102,120,105,120,108,123,113,127,109,134,105,136,101,131,99" href="/districts/manhattan/district-4?filter_borough=1&amp;filter_district_neighborhood=district_4" id="District4" onmouseover="setAreaOver(this,'districtmapbig_canvas','0,0,255','0,153,255',0.5,true,false,0);this.style.cursor='pointer';return true;" onmouseout="setAreaOut(this,'districtmapbig_canvas',false,0);null">
  <!-- District 5 -->
  <area shape="poly" coords="136,74,134,89,131,91,136,99,128,96,114,85,121,82,126,85" id="District5" onmouseover="setAreaOver(this,'districtmapbig_canvas','0,0,255','0,153,255',0.5,true,false,0);this.style.cursor='pointer';return true;" href="/districts/manhattan/district-5?filter_borough=1&amp;filter_district_neighborhood=district_5" onmouseout="setAreaOut(this,'districtmapbig_canvas',false,0);null">
  <!-- District 6 -->
  <area shape="poly" coords="160,46,153,41,148,42,137,57,132,64,127,74,122,78,126,84,131,81,137,73" href="/districts/manhattan/district-6?filter_borough=1&amp;filter_district_neighborhood=district_6" id="District6" onmouseover="setAreaOver(this,'districtmapbig_canvas','0,0,255','0,153,255',0.5,true,false,0);this.style.cursor='pointer';return true;" onmouseout="setAreaOut(this,'districtmapbig_canvas',false,0);null">
  <!-- District 7 -->
  <area shape="poly" class="iborder00aa00 icolor00ff00" coords="203,87,199,94,193,89,187,86,186,71,193,74,201,71,201,79,203,87" onmouseover="setAreaOver(this,'districtmapbig_canvas','0,0,255','0,153,255',0.5,true,false,0);this.style.cursor='pointer';return true;" href="/districts/bronx/district-7?filter_borough=2&amp;filter_district_neighborhood=district_7" id="m_districtmapbig_6" onmouseout="setAreaOut(this,'districtmapbig_canvas',false,0);null">
  <!-- District 8 -->
  <area shape="poly" class="iborder00aa00 icolor00ff00" coords="205,75,202,79,205,86,211,86,215,89,222,89,225,84,223,80,229,81,231,85,236,86,236,81,241,73,242,78,245,85,248,80,255,78,261,80,270,84,265,77,263,72,259,68,255,60,255,53,250,53,247,47,242,47,242,58,232,63,227,69,217,70" onmouseover="setAreaOver(this,'districtmapbig_canvas','0,0,255','0,153,255',0.5,true,false,0);this.style.cursor='pointer';return true;" href="/districts/bronx/district-8?filter_borough=2&amp;filter_district_neighborhood=district_8" id="m_districtmapbig_7" onmouseout="setAreaOut(this,'districtmapbig_canvas',false,0);null">
  <!-- District 9-->
  <area class="iborder00aa00 icolor00ff00" shape="poly" coords="207,56,200,52,197,57,191,52,184,67,195,73,202,70,206,64" onmouseover="setAreaOver(this,'districtmapbig_canvas','0,0,255','0,153,255',0.5,true,false,0);this.style.cursor='pointer';return true;" href="/districts/bronx/district-9?filter_borough=2&amp;filter_district_neighborhood=district_9" id="m_districtmapbig_8" onmouseout="setAreaOut(this,'districtmapbig_canvas',false,0);null">
  <!-- District 10 -->
  <area class="iborder00aa00 icolor00ff00" shape="poly" coords="220,9,216,15,223,15,219,35,221,59,212,51,210,55,200,48,198,53,193,49,198,34,189,30,196,3" onmouseover="setAreaOver(this,'districtmapbig_canvas','0,0,255','0,153,255',0.5,true,false,0);this.style.cursor='pointer';return true;" href="/districts/bronx/district-10?filter_borough=2&amp;filter_district_neighborhood=district_10" id="m_districtmapbig_9" onmouseout="setAreaOut(this,'districtmapbig_canvas',false,0);null">
  <!-- District 11 -->
  <area shape="poly" class="iborder00aa00 icolor00ff00" coords="219,13,220,9,226,11,228,5,237,7,239,14,248,18,265,22,270,25,273,31,264,47,249,52,248,45,241,46,241,59,231,62,225,55,222,59,220,34,224,16" onmouseover="setAreaOver(this,'districtmapbig_canvas','0,0,255','0,153,255',0.5,true,false,0);this.style.cursor='pointer';return true;" href="/districts/bronx/district-11?filter_borough=2&amp;filter_district_neighborhood=district_11" id="m_districtmapbig_10" onmouseout="setAreaOut(this,'districtmapbig_canvas',false,0);null">

  <!-- District 12-->
  <area shape="poly" class="iborder00aa00 icolor00ff00" coords="212,53,208,62,204,71,209,74,214,69,220,69,225,69,228,61,221,61" onmouseover="setAreaOver(this,'districtmapbig_canvas','0,0,255','0,153,255',0.5,true,false,0);this.style.cursor='pointer';return true;" href="/districts/bronx/district-12?filter_borough=2&amp;filter_district_neighborhood=district_12" id="m_districtmapbig_11" onmouseout="setAreaOut(this,'districtmapbig_canvas',false,0);null">
  <!-- District 13-->
  <area shape="poly" coords="170,149,172,143,167,140,165,136,161,133,157,136,150,131,148,126,144,122,138,119,133,123,129,128,128,132,134,131,138,134,144,138,147,141,146,144,142,144,139,147,144,150,147,152,151,153,154,146" onmouseover="setAreaOver(this,'districtmapbig_canvas','0,0,255','0,153,255',0.5,true,false,0);this.style.cursor='pointer';return true;" href="/districts/brooklyn/district-13?filter_borough=3&amp;filter_district_neighborhood=district_13" id="District13" onmouseout="setAreaOut(this,'districtmapbig_canvas',false,0);null" style="cursor: pointer;">
  <!-- District 14-->
  <area shape="poly" coords="182,109,177,116,178,120,177,124,174,127,176,131,172,130,169,132,165,133,162,128,160,133,156,132,154,127,152,124,155,120,153,117,154,110,157,105,162,102,161,97,161,93,167,90,170,91,173,94,175,98,179,101,182,103,183,107" onmouseover="setAreaOver(this,'districtmapbig_canvas','0,0,255','0,153,255',0.5,true,false,0);this.style.cursor='pointer';return true;" href="/districts/brooklyn/district-14?filter_borough=3&amp;filter_district_neighborhood=district_14" id="District14" onmouseout="setAreaOut(this,'districtmapbig_canvas',false,0);null" style="cursor: pointer;">
  <!-- District 15-->
  <area shape="poly" coords="145,179,138,181,138,185,133,184,127,183,124,179,119,183,110,172,111,168,112,164,119,167,121,165,117,161,125,161,129,159,130,155,127,151,122,151,118,149,115,145,118,141,121,142,124,136,131,133,135,133,139,137,142,140,145,143,138,144,138,148,142,151,145,152,144,157,140,161,143,167,144,170" onmouseover="setAreaOver(this,'districtmapbig_canvas','0,0,255','0,153,255',0.5,true,false,0);this.style.cursor='pointer';return true;" href="/districts/brooklyn/district-15?filter_borough=3&amp;filter_district_neighborhood=district_15" id="District15" onmouseout="setAreaOut(this,'districtmapbig_canvas',false,0);null">
  <!-- District 16-->
   <area shape="poly" coords="188,144,187,153,181,155,174,154,172,150,174,147,174,143,171,139,168,135,171,132,174,133,178,135,188,144" onmouseover="setAreaOver(this,'districtmapbig_canvas','0,0,255','0,153,255',0.5,true,false,0);this.style.cursor='pointer';return true;" href="/districts/brooklyn/district-16?filter_borough=3&amp;filter_district_neighborhood=district_16" id="District16" style="cursor: pointer;" onmouseout="setAreaOut(this,'districtmapbig_canvas',false,0);null">
  <!-- District 17-->
  <area shape="poly" class="color512125" coords="165,182,155,182,156,176,152,176,147,179,146,166,142,163,149,154,153,154,156,147,159,148,164,150,168,151,169,152,171,156,176,157,181,158,182,163,178,166,174,167,165,170" onmouseover="setAreaOver(this,'districtmapbig_canvas','0,0,255','0,153,255',0.5,true,false,0);this.style.cursor='pointer';return true;" href="/districts/brooklyn/district-17?filter_borough=3&amp;filter_district_neighborhood=district_17" id="District17 id=" district17"="" onmouseout="setAreaOut(this,'districtmapbig_canvas',false,0);null" style="cursor: pointer;">
  <!-- District 18-->
  <area shape="poly" coords="200,208,211,196,203,181,199,181,194,175,187,174,181,167,177,170,171,171,167,171,165,174,167,179,167,183,171,186,174,191,178,192,183,191,185,196" onmouseover="setAreaOver(this,'districtmapbig_canvas','0,0,255','0,153,255',0.5,true,false,0);this.style.cursor='pointer';return true;" href="/districts/brooklyn/district-18?filter_borough=3&amp;filter_district_neighborhood=district_18" id="District18" onmouseout="setAreaOut(this,'districtmapbig_canvas',false,0);null" style="cursor: pointer;">
  <!-- District 19-->
  <area shape="poly" coords="212,157,210,150,207,153,203,157,201,159,198,160,198,167,199,173,201,177,204,181,207,186,211,189,211,183,215,185,219,184,219,179,219,173,221,166,218,158,215,161" onmouseover="setAreaOver(this,'districtmapbig_canvas','0,0,255','0,153,255',0.5,true,false,0);this.style.cursor='pointer';return true;" href="/districts/brooklyn/district-19?filter_borough=3&amp;filter_district_neighborhood=district_19" id="District19" style="cursor: pointer;" onmouseout="setAreaOut(this,'districtmapbig_canvas',false,0);null">
  <!-- District 20-->
  <area shape="poly" coords="145,186,140,195,139,199,135,197,132,199,134,205,137,208,134,213,131,215,128,217,124,216,121,218,124,223,122,226,118,227,113,221,107,218,98,214,95,207,94,199,94,190,100,180,104,176,107,174,116,183,121,185,122,182,130,188" onmouseover="setAreaOver(this,'districtmapbig_canvas','0,0,255','0,153,255',0.5,true,false,0);this.style.cursor='pointer';return true;" href="/districts/brooklyn/district-20?filter_borough=3&amp;filter_district_neighborhood=district_20" id="District20" onmouseout="setAreaOut(this,'districtmapbig_canvas',false,0);null" style="cursor: pointer;">
  <!-- District 21-->
  <area shape="poly" coords="149,199,141,199,140,202,135,198,136,204,139,207,136,212,137,216,134,218,130,219,128,220,126,217,126,220,128,222,122,229,123,231,124,234,125,237,126,242,130,242,133,242,137,243,139,245,134,247,128,247,116,241,111,244,112,248,119,250,134,252,144,252,151,252,157,251,166,251,166,247,154,246,152,239,149,219,154,211" href="/districts/brooklyn/district-21?filter_borough=3&amp;filter_district_neighborhood=district_21" id="District21" onmouseover="setAreaOver(this,'districtmapbig_canvas','0,0,255','0,153,255',0.5,true,false,0);this.style.cursor='pointer';return true;" onmouseout="setAreaOut(this,'districtmapbig_canvas',false,0);null" style="cursor: pointer;">
  <!-- District 22-->
  <area shape="poly" coords="193,252,208,247,204,228,194,227,192,225,200,219,196,210,180,195,172,194,166,185,155,185,152,183,155,177,147,181,146,189,142,195,151,197,152,201,155,206,156,211,152,218,153,224,154,228,154,237,155,241,169,244,168,232,172,235,174,238,177,241,181,240,167,226,172,224,176,227,183,230,186,235,185,239,191,242,195,245" href="/districts/brooklyn/district-22?filter_borough=3&amp;filter_district_neighborhood=district_22" id="District22" "="" onmouseover="setAreaOver(this,'districtmapbig_canvas','0,0,255','0,153,255',0.5,true,false,0);this.style.cursor='pointer';return true;" onmouseout="setAreaOut(this,'districtmapbig_canvas',false,0);null" style="cursor: pointer;">
  <!-- District 23-->
  <area shape="poly" coords="189,147,189,154,186,157,185,163,184,167,186,171,189,174,193,175,196,173,198,168,197,163,194,158,194,155,197,152,194,149" href="/districts/brooklyn/district-23?filter_borough=3&amp;filter_district_neighborhood=district_23" id="District23" "="" onmouseover="setAreaOver(this,'districtmapbig_canvas','0,0,255','0,153,255',0.5,true,false,0);this.style.cursor='pointer';return true;" style="cursor: pointer;" onmouseout="setAreaOut(this,'districtmapbig_canvas',false,0);null">
  <!-- District 24-->
  <area shape="poly" coords="255,119,259,130,258,135,245,136,244,141,245,147,247,153,249,158,255,157,258,158,258,162,253,163,247,164,242,164,236,165,231,168,227,170,225,167,223,163,221,159,218,154,215,148,215,144,217,138,210,132,208,130,209,125,214,123,222,126,224,129,229,127,233,125,239,125,245,123,250,120,255,119" href="/districts/queens/district-24?filter_borough=4&amp;filter_district_neighborhood=district_24" onmouseover="setAreaOver(this,'districtmapbig_canvas','0,0,255','0,153,255',0.5,true,false,0);this.style.cursor='pointer';return true;" id="District24" style="cursor: pointer;" onmouseout="setAreaOut(this,'districtmapbig_canvas',false,0);null">
  <!-- District 25-->
  <area shape="poly" coords="308,110,299,111,294,115,296,122,293,125,296,129,289,138,283,137,284,148,280,153,269,151,263,139,263,130,259,121,267,117,265,122,268,127,270,122,270,117,264,112,265,104,261,99,265,94,270,93,273,99,276,99,280,93,284,93,290,96,295,98,297,104,305,103,305,98,309,105" onmouseover="setAreaOver(this,'districtmapbig_canvas','0,0,255','0,153,255',0.5,true,false,0);this.style.cursor='pointer';return true;" href="/districts/queens/district-25?filter_borough=4&amp;filter_district_neighborhood=district_25" id="District25" style="cursor: pointer;" onmouseout="setAreaOut(this,'districtmapbig_canvas',false,0);null">
  <!-- District 26-->
  <area shape="poly" coords="319,112,317,118,315,123,307,111,299,113,295,115,295,119,296,122,294,125,297,128,289,138,283,139,284,149,289,148,292,151,293,154,298,154,302,152,308,150,311,151,314,147,318,150,326,151,329,155,336,154,340,150,341,145,342,141,340,137,338,133" onmouseover="setAreaOver(this,'districtmapbig_canvas','0,0,255','0,153,255',0.5,true,false,0);this.style.cursor='pointer';return true;" href="/districts/queens/district-26?filter_borough=4&amp;filter_district_neighborhood=district_26" id="District26" style="cursor: pointer;" onmouseout="setAreaOut(this,'districtmapbig_canvas',false,0);null">
  <!-- District 27-->
  <area shape="poly" coords="302,219,290,225,264,203,270,195,264,195,256,189,254,202,249,202,242,193,247,189,244,177,243,166,251,165,260,161,264,165,265,175,268,181,272,182,277,180,282,180,286,182,289,190,286,197,301,212" onmouseover="setAreaOver(this,'districtmapbig_canvas','0,0,255','0,153,255',0.5,true,false,0);this.style.cursor='pointer';return true;" href="/districts/queens/district-27?filter_borough=4&amp;filter_district_neighborhood=district_27" id="District27" onmouseout="setAreaOut(this,'districtmapbig_canvas',false,0);null" style="cursor: pointer;">
  <!-- District 28-->
  <area shape="poly" coords="297,193,296,185,300,185,285,170,284,159,277,153,267,154,260,141,257,136,249,137,246,143,250,152,251,157,260,157,268,162,267,171,269,176,274,182,281,179,286,177,291,187" onmouseover="setAreaOver(this,'districtmapbig_canvas','0,0,255','0,153,255',0.5,true,false,0);this.style.cursor='pointer';return true;" href="/districts/queens/district-28?filter_borough=4&amp;filter_district_neighborhood=district_28" id="District28" onmouseout="setAreaOut(this,'districtmapbig_canvas',false,0);null" style="cursor: pointer;">
  <!-- District 29-->
  <area shape="poly" coords="326,155,315,150,311,155,304,152,300,157,294,157,291,153,288,151,283,151,281,154,287,156,288,163,288,168,293,174,296,180,301,182,304,184,300,187,300,192,298,198,291,194,287,195,307,214,314,211,318,205,322,187,325,174" onmouseover="setAreaOver(this,'districtmapbig_canvas','0,0,255','0,153,255',0.5,true,false,0);this.style.cursor='pointer';return true;" href="/districts/queens/district-29?filter_borough=4&amp;filter_district_neighborhood=district_29" id="District29" onmouseout="setAreaOut(this,'districtmapbig_canvas',false,0);null">
  <!-- District 30-->
   <area shape="poly" coords="255,116,249,120,244,122,239,125,229,124,226,129,224,126,210,122,206,126,197,123,199,118,209,107,215,105,213,101,215,98,221,99,225,96,229,93,232,92,237,94,234,98,238,99,240,104,243,105,245,100,249,99,257,107,258,112" onmouseover="setAreaOver(this,'districtmapbig_canvas','0,0,255','0,153,255',0.5,true,false,0);this.style.cursor='pointer';return true;" href="/districts/queens/district-30?filter_borough=4&amp;filter_district_neighborhood=district_30" id="District30" onmouseout="setAreaOut(this,'districtmapbig_canvas',false,0);null" style="cursor: pointer;">
   <!-- District 31-->
  <area shape="poly" coords="88,221,60,246,55,244,52,246,49,249,40,252,36,253,32,256,28,258,22,260,17,262,10,263,9,258,16,254,17,250,14,242,19,240,21,239,28,236,32,224,36,218,37,210,36,203,40,198,45,197,51,200,57,201,60,201,68,200,72,199,78,198,81,200,81,208" onmouseover="setAreaOver(this,'districtmapbig_canvas','0,0,255','0,153,255',0.5,true,false,0);this.style.cursor='pointer';return true;" href="/districts/staten-island/district-31?filter_borough=5&amp;filter_district_neighborhood=district_31" id="District31" onmouseout="setAreaOut(this,'districtmapbig_canvas',false,0);null">
  <!-- District 32-->
  <area shape="poly" coords="184,112,180,117,179,123,177,128,177,133,195,148,195,143,198,140,195,133,191,128,187,123,185,116" id="District32" onmouseover="setAreaOver(this,'districtmapbig_canvas','0,0,255','0,153,255',0.5,true,false,0);this.style.cursor='pointer';return true;" href="/districts/brooklyn/district-32?filter_borough=3&amp;filter_district_neighborhood=district_32" style="cursor: pointer;" onmouseout="setAreaOut(this,'districtmapbig_canvas',false,0);null">
  </map>
</div>

